---
import { capcom,funimation,goodsmile,sega,squareenix,ubisoft } from "../../assets/svg/index"
---

<div class="bg-white overflow-hidden">
    <div class="flex items-center h-[8.25rem] w-fit will-change-transform animate-marquee">
        <img src={goodsmile} class="w-[8rem] h-[3.5rem] mx-[2rem] max-w-[none]">
        <img src={ubisoft} class="w-[8rem] h-[3.5rem] mx-[2rem] max-w-[none]">
        <img src={sega} class="w-[8rem] h-[3.5rem] mx-[2rem] max-w-[none]">
        <img src={squareenix} class="w-[8rem] h-[3.5rem] mx-[2rem] max-w-[none]">
        <img src={funimation} class="w-[8rem] h-[3.5rem] mx-[2rem] max-w-[none]">
        <img src={capcom} class="w-[8rem] h-[3.5rem] mx-[2rem] max-w-[none]">
        <img src={goodsmile} class="w-[8rem] h-[3.5rem] mx-[2rem] max-w-[none]">
        <img src={ubisoft} class="w-[8rem] h-[3.5rem] mx-[2rem] max-w-[none]">
        <img src={sega} class="w-[8rem] h-[3.5rem] mx-[2rem] max-w-[none]">
        <img src={squareenix} class="w-[8rem] h-[3.5rem] mx-[2rem] max-w-[none]">
        <img src={funimation} class="w-[8rem] h-[3.5rem] mx-[2rem] max-w-[none]">
        <img src={capcom} class="w-[8rem] h-[3.5rem] mx-[2rem] max-w-[none]">
        <img src={goodsmile} class="w-[8rem] h-[3.5rem] mx-[2rem] max-w-[none]">
        <img src={ubisoft} class="w-[8rem] h-[3.5rem] mx-[2rem] max-w-[none]">
        <img src={sega} class="w-[8rem] h-[3.5rem] mx-[2rem] max-w-[none]">
        <img src={squareenix} class="w-[8rem] h-[3.5rem] mx-[2rem] max-w-[none]">
        <img src={funimation} class="w-[8rem] h-[3.5rem] mx-[2rem] max-w-[none]">
        <img src={capcom} class="w-[8rem] h-[3.5rem] mx-[2rem] max-w-[none]">
    </div>
</div>