---
import styles from "../styles"
import '@fontsource-variable/montserrat';
import { Navbar, Hero } from "../components/index"
import  { vshojo } from "../assets/svg/index"
import { IoMdArrowDropdown } from "react-icons/io";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class={`relative flex flex-col font-mont pt-[2.5rem] min-h-[100vh] min-w-[20rem] ${styles.heroBg}`}>
			<nav class="w-full flex justify-between items-center text-Vpink m-0 mx-auto mb-20 font-mont z-10">
				<div class={`${styles.margin}`}></div>
				<img src={vshojo} class="h-[3.5rem]"/>
				<div class={`${styles.spacer}`}></div>
				<div class={`${styles.padding} hidden sm:block`}></div>
				<div class="hidden sm:block">
					<a href="">Home</a>
				</div>
				<div class={`${styles.padding} hidden sm:block`}></div>
				<div class="hidden sm:block">
					<a href="">About</a>
				</div>
				<div class={`${styles.padding} hidden sm:block`}></div>
				<div class="hidden sm:block">
					<a href="">Talent</a>
				</div>
				<div class={`${styles.padding} hidden sm:block`}></div>
				<div class="hidden sm:block">
					<a href="">Merch</a>
				</div>
				<div class={`${styles.padding} hidden sm:block`}></div>
				<div class="relative font-semibold py-[.25rem] px-[.35rem] border border-solid border-Vpink rounded-[.25rem] uppercase group hidden sm:block">
					<span class="inline-block w-[48px]">en<IoMdArrowDropdown className="inline-block transform transition-transform duration-300 ease group-hover:rotate-180 ml-[.5rem] mb-[.1rem]"/></span>
					<div class={`absolute text-center rounded-b-[.25rem] -left-[1px] -right-[1px] bg-Vpink ${styles.langSelectdrop} group-hover:scale-y-[1]`}>
						<span class="block m-[.5rem] text-white"><a href="" class="hover:underline">en</a></span>
						<span class="block m-[.5rem] text-white"><a href="" class="hover:underline">jp</a></span>
					</div>
				</div>
				<div class="group block sm:hidden">
					<a id="menu-open" class="ml-[3px] mr-[3px] inline-block text-[1.125rem] font-bold drop-shadow-custom z-50 group-active:hover:drop-shadow-custom-x1 group-active:hover:ml-0 group-active:hover:mr-0">
						<div class="inline-block overflow-hidden rounded-[.25rem] border border-solid border-black bg-[#F50F75]">
							<div class="grid h-[3rem] w-[3rem] place-items-center">
								<svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" class="undefined astro-XNOXSESQ" width="30" height="30" viewBox="0 0 24 24" role="img">
									<title>menu</title>
									<path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" class="astro-XNOXSESQ"></path>
								</svg>
							</div>
						</div>
					</a>
				</div>
				<div class={`${styles.margin}`}></div>
			</nav>
			<div class="w-full">
				<Hero/>
			</div>
			<div class="menu">
				<nav class="mb-[5rem] flex items-center whitespace-nowrap text-[#F50F75]">
				  <div class={`${styles.margin}`}></div>
				  <img src={vshojo} class="h-[3.5rem]"/>
				  <div class={`${styles.spacer}`}></div>
				  <div class="group block sm:hidden">
						<a id= "menu-close" class= " ml-[3px] mr-[3px]  inline-block text-[1.125rem] font-bold drop-shadow-custom group-active:hover:drop-shadow-custom-x1 group-active:hover:ml-0 group-active:hover:mr-0">
							<div class="inline-block overflow-hidden rounded-[.25rem] border border-solid border-black bg-[#F50F75]">
								<div class="grid h-[3rem] w-[3rem] place-items-center">
									<svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" class="undefined astro-XNOXSESQ" width="30" height="30" viewBox="0 0 24 24" role="img">
										<title>close</title>
										<path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" class="astro-XNOXSESQ"></path>
									</svg>
								</div>
							</div>
						</a>
				   </div>
				   <div class={`${styles.margin}`}></div>
				</nav>
				<div class="">
					<div class="px-[2rem] py-[1rem] text-center group">
						<a href="" class="mr-[8px] mb-[8px] block font-mont font-bold text-[1.125rem] drop-shadow-custom-x4 group-active:hover:drop-shadow-custom-x2 group-active:hover:mt-[--drop-button-click] group-active:hover:ml-[--drop-button-click] group-active:hover:mb-[--drop-button-animation] group-active:hover:mr-[--drop-button-animation]"> 
						  <div class="bg-white overflow-hidden py-[2rem] px-[1.5rem] border-[2px] border-solid border-black rounded-[.5rem]">Home</div>
						</a>
					</div>
					<div class="px-[2rem] py-[1rem] text-center group">
						<a href="" class="mr-[8px] mb-[8px] block font-mont font-bold text-[1.125rem] drop-shadow-custom-x4 group-active:hover:drop-shadow-custom-x2 gr group-active:hover:mt-[--drop-button-click] group-active:hover:ml-[--drop-button-click] group-active:hover:mb-[--drop-button-animation] group-active:hover:mr-[--drop-button-animation] "> 
							<div class="bg-white overflow-hidden py-[2rem] px-[1.5rem] border-[2px] border-solid border-black rounded-[.5rem]">About</div>
						</a>
					</div>
					<div class="px-[2rem] py-[1rem] text-center group">
						<a href="" class="mr-[8px] mb-[8px] block font-mont font-bold text-[1.125rem] drop-shadow-custom-x4 group-active:hover:drop-shadow-custom-x2 gr group-active:hover:mt-[--drop-button-click] group-active:hover:ml-[--drop-button-click] group-active:hover:mb-[--drop-button-animation] group-active:hover:mr-[--drop-button-animation] "> 
							<div class="bg-white overflow-hidden py-[2rem] px-[1.5rem] border-[2px] border-solid border-black rounded-[.5rem]">Talent</div>
						</a>
					</div>
					<div class="px-[2rem] py-[1rem] text-center group">
						<a href="" class="mr-[8px] mb-[8px] block font-mont font-bold text-[1.125rem] drop-shadow-custom-x4 group-active:hover:drop-shadow-custom-x2 gr group-active:hover:mt-[--drop-button-click] group-active:hover:ml-[--drop-button-click] group-active:hover:mb-[--drop-button-animation] group-active:hover:mr-[--drop-button-animation] "> 
							<div class="bg-white overflow-hidden py-[2rem] px-[1.5rem] border-[2px] border-solid border-black rounded-[.5rem]">Merch</div>
						</a>
					</div>
					<div class="px-[2rem] py-[1rem] text-center flex mr-[-1rem]">
						<div class="flex-shrink-0 flex-grow basis-0 mr-[1rem] uppercase font-mont font-bold group">
							<a href="" class="mr-[8px] mb-[8px] block font-mont font-bold text-[1.125rem] drop-shadow-custom-x4 group-active:hover:drop-shadow-custom-x2 gr group-active:hover:mt-[--drop-button-click] group-active:hover:ml-[--drop-button-click] group-active:hover:mb-[--drop-button-animation] group-active:hover:mr-[--drop-button-animation] ">
								<div class="block overflow-hidden py-[2rem] px-[1.5rem] border-[2px] border-solid border-black rounded-[.5rem] bg-white">en</div>
							</a>					
						</div>
						<div class="flex-shrink-0 flex-grow basis-0 mr-[1rem] uppercase font-mont font-bold group">
							<a href="" class="mr-[8px] mb-[8px] block font-mont font-bold text-[1.125rem] drop-shadow-custom-x4 group-active:hover:drop-shadow-custom-x2 gr group-active:hover:mt-[--drop-button-click] group-active:hover:ml-[--drop-button-click] group-active:hover:mb-[--drop-button-animation] group-active:hover:mr-[--drop-button-animation] ">
								<div class="block overflow-hidden py-[2rem] px-[1.5rem] border-[2px] border-solid border-black rounded-[.5rem] bg-white">ja</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			const menu = document.querySelector('.menu');
			const menuOpen = document.getElementById('menu-open');
			const menuClose = document.getElementById('menu-close');

			function toggleMenu() {
				menu.classList.toggle('show');
			}

			menuOpen.addEventListener('click', toggleMenu);
			menuClose.addEventListener('click', toggleMenu);
		</script>
	</body>
</html>
