---
import  { vshojo } from "../assets/svg/index"
import { IoMdArrowDropdown } from "react-icons/io";
import styles from "../styles"
import '@fontsource-variable/montserrat';
---

<nav class="w-full flex justify-between items-center text-Vpink m-0 mx-auto mb-20 font-mont z-10">
    <div class={`${styles.margin}`}></div>
    <img src={vshojo} class="h-[3.5rem]"/>
    <div class={`${styles.spacer}`}></div>
    <div class={`${styles.padding} ${styles.lgShowsmHidden}`}></div>
    <div class={`${styles.lgShowsmHidden}`}>
        <a href="/">Home</a>
    </div>
    <div class={`${styles.padding} ${styles.lgShowsmHidden}`}></div>
    <div class={`${styles.lgShowsmHidden}`}>
        <a href="/about/">About</a>
    </div>
    <div class={`${styles.padding} ${styles.lgShowsmHidden}`}></div>
    <div class={`${styles.lgShowsmHidden}`}>
        <a href="/talents/">Talent</a>
    </div>
    <div class={`${styles.padding} ${styles.lgShowsmHidden}`}></div>
    <div class={`${styles.lgShowsmHidden}`}>
        <a href="">Merch</a>
    </div>
    <div class={`${styles.padding} ${styles.lgShowsmHidden}`}></div>
    <div class={`relative font-semibold py-[.25rem] px-[.35rem] border border-solid border-Vpink rounded-[.25rem] uppercase group ${styles.lgShowsmHidden}`}>
        <span class="inline-block w-[48px]">en<IoMdArrowDropdown className="inline-block transform transition-transform duration-300 ease group-hover:rotate-180 ml-[.5rem] mb-[.1rem]"/></span>
        <div class={`absolute text-center rounded-b-[.25rem] -left-[1px] -right-[1px] bg-Vpink ${styles.langSelectdrop} group-hover:scale-y-[1]`}>
            <span class="block m-[.5rem] text-white"><a href="" class="hover:underline">en</a></span>
            <span class="block m-[.5rem] text-white"><a href="" class="hover:underline">jp</a></span>
        </div>
    </div>
    <div class="group block sm:hidden">
        <a id="menu-open" class={`${styles.dropdownBtn}`}>
            <div class={`${styles.dropdownBtndiv}`}>
                <div class={`${styles.dropdownBtnSvgC}`}>
                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" class="undefined astro-XNOXSESQ" width="30" height="30" viewBox="0 0 24 24" role="img">
                        <title>menu</title>
                        <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" class="astro-XNOXSESQ"></path>
                    </svg>
                </div>
            </div>
        </a>
    </div>
    <div class={`${styles.margin}`}></div>
</nav>
<div class="menu">
    <nav class="mb-[5rem] flex items-center whitespace-nowrap text-[#F50F75]">
      <div class={`${styles.margin}`}></div>
      <img src={vshojo} class="h-[3.5rem]"/>
      <div class={`${styles.spacer}`}></div>
      <div class="group block sm:hidden">
            <a id= "menu-close" class= {`${styles.dropdownBtn}`}>
                <div class={`${styles.dropdownBtndiv}`}>
                    <div class={`${styles.dropdownBtnSvgC}`}>
                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" class="undefined astro-XNOXSESQ" width="30" height="30" viewBox="0 0 24 24" role="img">
                            <title>close</title>
                            <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" class="astro-XNOXSESQ"></path>
                        </svg>
                    </div>
                </div>
            </a>
       </div>
       <div class={`${styles.margin}`}></div>
    </nav>
    <div class="">
        <div class={`${styles.dropdownItems} group`}>
            <a href="/" class={`${styles.dropdownItemslink}`}> 
              <div class={`${styles.dropdownItemslinkchild}`}>Home</div>
            </a>
        </div>
        <div class={`${styles.dropdownItems} group`}>
            <a href="/about/" class={`${styles.dropdownItemslink}`}> 
                <div class={`${styles.dropdownItemslinkchild}`}>About</div>
            </a>
        </div>
        <div class={`${styles.dropdownItems} group`}>
            <a href="/talents/" class={`${styles.dropdownItemslink}`}> 
                <div class={`${styles.dropdownItemslinkchild}`}>Talent</div>
            </a>
        </div>
        <div class={`${styles.dropdownItems} group`}>
            <a href="" class={`${styles.dropdownItemslink}`}> 
                <div class={`${styles.dropdownItemslinkchild}`}>Merch</div>
            </a>
        </div>
        <div class= {`${styles.dropdownItems} flex mr-[-1rem]`}>
            <div class={`${styles.dropdownlangSelectdiv}`}>
                <a href="" class={`${styles.dropdownlangSelectlink}`}>
                    <div class={`${styles.dropdownlangSelectlinkchild}`}>en</div>
                </a>					
            </div>
            <div class={`${styles.dropdownlangSelectdiv}`}>
                <a href="" class={`${styles.dropdownlangSelectlink}`}>
                    <div class={`${styles.dropdownlangSelectlinkchild}`}>ja</div>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    const menu = document.querySelector('.menu');
    const menuOpen = document.getElementById('menu-open');
    const menuClose = document.getElementById('menu-close');

    function toggleMenu() {
        menu.classList.toggle('show');
    }

    menuOpen.addEventListener('click', toggleMenu);
    menuClose.addEventListener('click', toggleMenu);
</script>